.nithin{
    background-color: red;
    color: rgb(239, 200, 28);
    text-align: center;
    
}
.saniya{
color: black;
text-align: center;
background-color: rgb(180, 180, 13);
font-family: cursive;
}
h4,p{
    background-color: aqua;
    text-align: center;
    color: rgb(239, 200, 28);;
}